[user]
	email = odin@uged.al
	name = Odin Ugedal
	signingkey = 43FCA9395DB2DA04D1D29ADF49AEAB06408DD4C2
[commit]
	gpgsign = true
	verbose = true
[rerere]
	enabled = true
#[core]
#    pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
#[interactive]
#    diffFilter = delta --color-only
[diff "gpg"]
	textconv = gpg --no-tty --decrypt 2>/dev/null
[github]
	user = odinuge
[sendemail]
  smtpuser = odin@ugedal.com
  smtpserver = smtp.gmail.com
  smtpencryption = tls
  smtpserverport = 587

[url "git@github.com:odinuge"]
    insteadOf = https://github.com/odinuge
[http]
	cookiefile = /home/odin/.gitcookies
[pull]
	ff = only
[format]
	signoff = true
[diff "ansible-vault"]
	textconv = ansible-vault view
