[user]
	email = odin@ugedal.com
	name = Odin Ugedal
	signingkey = 43FCA9395DB2DA04D1D29ADF49AEAB06408DD4C2
[commit]
	gpgsign = true
[rerere]
	enabled = true
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
